<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">
    <title>Netflix - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block others %}{% endblock %}
</head>
<body class="bg-black text-gray-100 font-primary">
    {% block content %}
    {% endblock %}
    <script>
        const nav = document.querySelector('nav')
        document.addEventListener('scroll', e => {
            if (scrollY>100){
                nav.classList.add('bg-gray-900')
            }else{
                nav.classList.remove('bg-gray-900')
            }
        })
    </script>
</body>
</html>